*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

header .navbar{
  background-color: #FFFFFF;
  width: 100%;
  height: 120px;
  height: 100%;
  margin: 0;
}

header .navbar .title h1{
  font-size: 24px;
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  color: #100D09;
  margin: 15px 30px 15px 60px;
}

header .navbar .title h1 a{
  text-decoration: none;
  color: #100D09;
}

header .navs ul li{
  display: inline-block;
  margin: 0 20px 0 20px;
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #100D09;
}

header .navs ul li a{
  text-decoration: none;
  font-style: normal;
  color: #100D09;
}

main .header_container{
    width: 100%;
    height: auto;
    background-image: url("../imagens/imagens/head_blog_2.png");
    margin: 0;
    padding: 20px;
}

main .header_container p{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
    margin: 40px 0 0 20px;
}

main .header_container h2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 2;
    color: #FFFFFF;
    margin: 0 0 0 20px;
    width: 750px;
    max-width: 100%;
}
  
.container{
    width: 100%;
    height: auto;
}

.container .artigo_blog{
    width: 60%;
    height: auto;
    background-color: #FFFFFF;
    float: left;
    margin: 40px;
}

.container .artigo_blog h2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #100D09;
    text-align: justify;
    margin-top: 40px;
}

.container .artigo_blog p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #100D09;
    text-align: justify;
    line-height: 2;
    margin: 20px 0 20px 0;
}

.container .artigo_blog h3{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #100D09;
    text-align: center;
}

@media (max-width:767px) {
    .artigo_blog .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .artigo_blog .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .artigo_blog .item.text {
      margin-bottom:0;
    }
  }

  .artigo_blog .item.social {
    text-align:center;
    margin: 40px 0 20px 0;
  }
  
  @media (max-width:991px) {
    .artigo_blog .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .artigo_blog .item.social > a {
    font-size:20px;
    width:40px;
    height: 40px;
 
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:#FABC51;
  }
  
.container .artigos{
    width: 300px;
    max-width: 100%;
    height: auto;
    float: right;
    margin: 20px;
}

.container .artigos .card_artigo{
    width: 300px;
    max-width: 100%;
    height: auto;
    background: #F6F7FD;
    border-radius: 45px;
    padding: 15px;
    margin: 20px 0 40px 0;
}

.container .artigos h3{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #100D09;
    margin-top: 20px;
    text-align: center;
}

.container .card_artigo h2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #100D09;
    text-align: center;
}

.container .card_artigo p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #100D09;
    text-align: center;
}

.container .card_artigo img{
    width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 45px;
    margin: 20px 0 20px 0;
}


.footer_container {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #FABC51;
}

.footer_container h2 {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: #FFFFFF;
}
 
.footer_container h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.footer_container .contatos p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.footer_container .contatos a{
    text-decoration: none;
    color: #FFFFFF;
}
  
.footer_container ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.footer_container ul a{
    text-decoration: none;
    color: #FFFFFF;
}
  
  
  @media (max-width:767px) {
    .footer_container .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer_container .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer_container .item.text {
      margin-bottom:0;
    }
  }

  .footer_container .item.social {
    text-align:right;
  }
  
  @media (max-width:991px) {
    .footer_container .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer_container .item.social > a {
    font-size:20px;
    width:40px;
    height: 40px;
 
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:#fff;
  }
  
