*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

header .navbar{
    background-color: #FFFFFF;
    width: 100%;
    height: 120px;
    height: 100%;
    margin: 0;
}

header .navbar .title h1{
    font-size: 24px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    color: #100D09;
    margin: 15px 30px 15px 60px;
}

header .navbar .title h1 a{
    text-decoration: none;
    color: #100D09;
}

header .navs ul li{
    display: inline-block;
    margin: 0 20px 0 20px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #100D09;
}

header .navs ul li a{
    text-decoration: none;
    font-style: normal;
    color: #100D09;
}

main .header_container{
    width: 100%;
    height: auto;
    background: #52B5B2;
    margin: 0;
    padding: 20px;
}

main .header_container img{
    width: 350px;
    max-width: 100%;
    height: 350px;
    max-height: 100%;
    border-radius: 0px 45px;
    transform: rotate(-7.07deg);
    margin: 0 0 0 50px;
}

main .header_container h2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 2;
    color: #FFFFFF;
    margin: 40px 0 0 20px;
    width: 650px;
    max-width: 100%;
}

.mensagem_container .mensagem h2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #100D09;
    margin: 200px 100px 0 50px;
}

main .form{
    background: #52B5B2;
    border-radius: 45px;
    width: 500px;
    max-width: 100%;
    height: 720px;
    max-height: 100%;
    margin: 100px 100px 100px 0;
}

main .form .form-label{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #FABC51;
    margin-left: 50px;
    margin-top: 20px;
}

main .form .form-control{
    width: 370px;
    max-width: 100%;
    margin: auto;
    margin-left: 50px;
    
}

main .form .btn{
    width: 200px;
    max-width: 100%;
    height: auto;
    background: #EE7675;
    border-radius: 45px;
    transform: rotate(0.18deg);
    margin-left: 50px;
    border: none;
}

main .form .btn p{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

main .form .btn a{
    text-decoration: none;
    color: #FFFFFF;
}


main .contato{
    width: 100%;
    height: auto;
    padding: 40px;
    background: #F4F7FC;
    margin: 0;
    margin-bottom: 40px;
}

.contato .contato_cards{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 40px;
    margin-top: 10px;
}

.contato_cards .card{
    width: 330px;
    max-width: 100%;
    height: auto;
    margin: 20px 0 0 20px;
    border: none;
    background: #FFFFFF;
    border-radius: 45px;
    padding: 30px;
}


.contato .contato_cards img{
    width: 60px;
    max-width: 100%;
    border-radius: 45px;
    background-color: #EE7675;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.contato .contato_cards h2{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #100D09;
    text-align: center;
    margin-top: 20px;
}

.contato .contato_cards p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #100D09;
    text-align: center;
}

.contato .contato_cards p a{
    text-decoration: none;
    color: #100D09;
}

.contato .contato_cards p span{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #100D09;
}


main .maps .map{
    width: 1169px;
    height: auto;
    border-radius: 5px;
    margin-left: 15px;
    margin: auto;
}

main .maps .w-100{
    margin: auto;
    border-radius: 45px;
    margin-bottom: 20px;
}

main .maps h2{
    text-align: center;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    color: #100D09;
    margin: 20px 0 20px 0;
}

.footer_container {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #FABC51;
}

.footer_container h2 {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: #FFFFFF;
}
 
.footer_container h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.footer_container .contatos p{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.footer_container .contatos a{
    text-decoration: none;
    color: #FFFFFF;
}
  
.footer_container ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.footer_container ul a{
    text-decoration: none;
    color: #FFFFFF;
}
  
  
  @media (max-width:767px) {
    .footer_container .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer_container .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer_container .item.text {
      margin-bottom:0;
    }
  }

  .footer_container .item.social {
    text-align:right;
  }
  
  @media (max-width:991px) {
    .footer_container .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer_container .item.social > a {
    font-size:20px;
    width:40px;
    height: 40px;
 
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:#fff;
  }
  
